@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900;1,400&display=swap');
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, and, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea, select {
	background:transparent;
	border:0;
	font-size:100%;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
	line-height:1;
	font-family: 'Roboto', sans-serif;
	background-color: whitesmoke;

}
abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor:help;
}
/*blockquote, q {
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none;
}*/
del {
	text-decoration:line-through;
}
hr {
	background:transparent;
	border:0;
	clear:both;
	color:transparent;
	height:1px;
	margin:0;
	padding:0;
}
mark {
	background-color:#ffffb3;
	font-style:italic
}
input, select {
	vertical-align:middle;
}
ins {
	background-color:red;
	color:white;
	text-decoration:none;
}
ol, ul {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/*cabeçalho*/
header{
	display: flex;
	width: 100%;
	height: 120px;
	background-color: white;
	
}


header #logomarca{
	width: 150px;
	margin-left: 7px;
	margin-top: 18px;
	margin-right: 40%;
}

.btao{
	margin-top: 16%;
	font-size: 18px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/*PRIMEIRA FOTO, FICAR COMO FUNDO*/
#secao1 {
	margin-top:0;
	background-image: url("../imgs/imagem1.png");
	background-size: cover;
	height: 100%;
	display: flex;
}
/*Letras encima da primeira foto*/
#secao1 {
display: flex;
flex-direction: column;

}
  
.paragrafo1{
	color: whitesmoke;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	margin-top: 130px;
	margin-left: 200px;
	
}
.paragrafo2{
	color: white;
	font-weight: 300;
	font-size: 40px;
	display: flex;
	margin-top: 13px;
	margin-left: 200px;
}
 /*Texto Motor*/
.boxMotor{
	display: flex;
	height: 650px;
}

#fotoMotor{
	margin-left: 70px;
}

.pMotor{
	font-size: 35px;
	font-weight: 700;
	margin-left: 330px;
	margin-top: 250px;
	
}

.pMotor2{
	font-size: 25px;
	font-weight: 300;
	margin-left:250px;
	margin-top: 17px;	
	width: 600px;

}
/*COLUNAS*/

/*3 colunas*/
.box{
	display: flex;
	height: 150px;
	
}
#imagem{
	display: flex;
	justify-content: center;
	flex: 1, 1, 1, 1;
	width: 600px;
}

.coluna{
	margin-top: 30px;
	margin-left: 30;	
	font-weight:400;
	font-style: italic;
	font-size: 24px;
}

.conteudo{
	text-align: center;
	
	width: 350px;
	margin-top: 10;
	margin-left: 50;
}
/**************************************************/
/*rodapé*/
footer {
	/*position: fixed;
	bottom: 0;*/
	margin-top: 30px;
	width: 100%;
	background-color: whitesmoke;
	color: black;
	text-align: center;
	height: 25px;
	align-items: center;
}

/*FORMULÁRIO*/
.formulario{
	display: flex;
	justify-content: center;
	
}

.tituloForm{
	font-size: 30px;
	margin-bottom: 30px;
}
 
form {
	margin-top: 20px;
	border: 1px solid black;
  	border-radius: 10px;
	 
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
	/*margin-left: 600px;*/

  }
  
.form-group {
	display: flex;	
	flex-direction: column;
	margin-bottom: 20px;
	width: 100%;
	max-width: 400px;
}

.form-group-row {
	display: flex;
	flex-direction: row;
}

.form-group-col {
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	width: 50%;
}

label {
	width: 80px;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
	color: #333;
  }
 .asteristico{
	color: red;
 }
input {
	font-size: 16px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #f4f4f4;
	color: #333;
	width: 100%;
	border: 1px solid black;
	border-radius: 10px;
}

.form-group-col:nth-child(2) input {
	width: 100%;
}

 /*button {*/
#solicitaValores, #limpa, #envia{
	display: inline-block;
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 5px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s ease;
	
}

button:hover {
	background-color: #0062cc;
}

.form-container {
	margin-bottom: 50px;
}

/*BARRA DE ROLAGEM: */
::-webkit-scrollbar {
	display: flex;
	width: 6px;
}
  
/* espaco sem a barra */
::-webkit-scrollbar-track {
	background-color: #f5f5f5;
}

/*Cor da barra sem mouse*/
::-webkit-scrollbar-thumb {
	background-color: #ccc;
}

/*cor quando mouse ta encima*/
::-webkit-scrollbar-thumb:hover {
	background-color: gray;
}

/*Botão voltar ao topo*/
#voltaTopo {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #333;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
  }
  
button:hover {
	background-color: whitesmoke;
	color: black;
}
  
/*Botão formulario Modal*/
.abreModal{
	color: green;
}
/****************************************/
.modal {
	display: flex;
	position: fixed;
	z-index: 1;
	/*left: 32%;
	top: 25%;*/
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);

}

.modal-content {
	background-color: whitesmoke;
	margin: 0 auto;
	margin-top: 30px;
	padding: 20px;
	border: 1px solid ;
	width: 35%;
	height: 70%;
}

.fechar {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.fechar:hover, .fechar:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#btnModal{
	height: 100px;
	display: flex;
	justify-content: center;
	
}

#btnModal button{
	margin-top: 25px;
	height: 40px;
}


.botãoMenu {
	display: flex;
	justify-content: center;	
}

.mapa{
	display: flex;
	justify-content: center;
}

/*ESCONDE A MODAL QUANDO CARREGA A*/
.hidden {
	display: none;
}
  


